<div class="flex flex-col">
  <h1 class="text-xl sm:text-3xl font-semibold text-primary dark:text-secondary mb-4">
    {{ productId === 0 ? 'Nuevo producto' : 'Editar producto' }}
  </h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-8">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
      <div class="lg:col-span-1 flex flex-col gap-4">
        <div class="relative aspect-square"
          [class.cursor-pointer]="!productImages.length"
          (click)="!productImages.length && fileInput.click()"
          (dragover)="!productImages.length && onDragOver($event)"
          (dragleave)="!productImages.length && onDragLeave($event)"
          (drop)="!productImages.length && onDrop($event)"
        >
          <div class="w-full h-full transition-transform duration-200 backface-visible transform-gpu"
            [ngClass]="{
              'border-2 border-dashed hover:scale-[1.02]': !productImages.length,
              'border-red-500 dark:border-red-500': imageError && !productImages.length,
              'border-gray-300 dark:border-gray-600': !imageError && !productImages.length && !isDragging,
              'border-primary dark:border-secondary scale-[1.02]': isDragging && !productImages.length
            }"
          >
            @if (!productImages.length) {
              <div class="w-full h-full flex flex-col items-center justify-center transition-transform" [class.scale-95]="isDragging">
                <span class="material-icons scale-200 text-gray-400 mb-2" [class.text-primary]="isDragging" [class.dark:text-secondary]="isDragging">cloud_upload</span>
                <p class="text-sm text-gray-600 dark:text-gray-400 text-center">
                  @if (isDragging) {
                    Suelta la(s) imagen(imágenes) aquí
                  } @else {
                    Arrastra una o varias imágenes o<br>
                    <span class="text-primary dark:text-secondary">selecciona los archivos</span>
                  }
                </p>
              </div>
            } @else {
              <div class="relative w-full h-full overflow-hidden">
                <div
                  class="flex transition-transform duration-500 ease-in-out h-full"
                  [style.transform]="'translateX(-' + (currentImageIndex * 100) + '%)'"
                >
                  @for (img of productImages; track $index) {
                    <img
                      [src]="img.preview"
                      alt="Imagen de producto"
                      class="w-full h-full object-cover shrink-0"
                      style="width: 100%;"
                    >
                  }
                </div>

                <button type="button" (click)="removeImage(currentImageIndex); $event.stopPropagation()" class="cursor-pointer absolute top-2 right-2 flex items-center justify-center w-7 h-7 bg-red-500 hover:bg-red-600 text-white rounded-full shadow-lg transition-colors z-10">
                  <span class="material-icons scale-75">close</span>
                </button>

                @if (productImages.length > 1) {
                  <button type="button" (click)="prevImage(); $event.stopPropagation()"
                    class="absolute cursor-pointer left-2 top-1/2 -translate-y-1/2 w-12 h-12 flex items-center justify-center z-10
                      bg-white/40 dark:bg-gray-900/40 shadow-xl rounded-full transition-all duration-200 hover:scale-110 
                      active:scale-95 hover:bg-white/70 dark:hover:bg-gray-900/70 group">
                    <span class="material-icons text-primary dark:text-secondary group-hover:text-primary/80 dark:group-hover:text-secondary/80 transition-colors scale-200">chevron_left</span>
                  </button>
                  <button type="button" (click)="nextImage(); $event.stopPropagation()"
                    class="absolute cursor-pointer right-2 top-1/2 -translate-y-1/2 w-12 h-12 flex items-center justify-center z-10
                      bg-white/40 dark:bg-gray-900/40 shadow-xl rounded-full transition-all duration-200 hover:scale-110 
                      active:scale-95 hover:bg-white/70 dark:hover:bg-gray-900/70 group">
                    <span class="material-icons text-primary dark:text-secondary group-hover:text-primary/80 dark:group-hover:text-secondary/80 transition-colors scale-200">chevron_right</span>
                  </button>
                }

                <div class="absolute bottom-2 left-1/2 -translate-x-1/2 flex gap-2 z-10">
                  @for (img of productImages; track $index) {
                    <button type="button"
                      (click)="goToImage($index)"
                      class="w-3 h-3 rounded-full transition transform duration-200
                        focus:outline-hidden
                        hover:scale-125 hover:opacity-80
                        border-2 border-transparent
                        flex items-center justify-center
                        cursor-pointer"
                      [ngClass]="$index === currentImageIndex
                        ? 'bg-primary dark:bg-secondary shadow-md'
                        : 'bg-gray-300 dark:bg-gray-600'"
                      
                    ></button>
                  }
                </div>
              </div>
            }
          </div>

          <input #fileInput type="file" class="hidden" accept="image/png, image/jpeg, image/jpg, image/webp" (change)="onImagesSelected($event)" multiple>
        </div>

        <div class="flex flex-col gap-1">
          @if (imageError) {
            <p class="text-xs text-red-500">{{ imageError }}</p>
          }
          <p class="text-xs text-black dark:text-white">Formato: PNG, JPEG, JPG, WEBP (max. 2 MB, máx. 10 imágenes)</p>
        </div>
      </div>

      <div class="lg:col-span-2 flex flex-col gap-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <label for="name" class="block text-sm font-semibold text-black dark:text-white mb-1">Nombre <span class="text-red-500">*</span></label>
            <input id="name" autocomplete="off" 
              type="text" formControlName="name" placeholder="Nombre" 
              [ngClass]="{
                'border-red-500 dark:border-red-500': form.get('name')?.invalid && form.get('name')?.touched
              }"
              class="w-full p-2 border bg-white dark:bg-gray-700 text-black dark:text-white focus:outline-hidden border-gray-300 dark:border-gray-600"
            >
            @if (form.get('name')?.invalid && form.get('name')?.touched) {
              <p class="mt-1 text-xs text-red-500">{{ getErrorMessage('name') }}</p>
            }
          </div>

          <div>
            <label for="sku" class="block text-sm font-semibold text-black dark:text-white mb-1">SKU <span class="text-red-500">*</span></label>
            <input id="sku" autocomplete="off" 
              type="text" formControlName="sku" placeholder="SKU" 
              [ngClass]="{
                'border-red-500 dark:border-red-500': form.get('sku')?.invalid && form.get('sku')?.touched
              }" 
              class="w-full p-2 border bg-white dark:bg-gray-700 text-black dark:text-white focus:outline-hidden border-gray-300 dark:border-gray-600"
            >
            @if (form.get('sku')?.invalid && form.get('sku')?.touched) {
              <p class="mt-1 text-xs text-red-500">{{ getErrorMessage('sku') }}</p>
            }
          </div>

          <div>
            <label for="categoryId" class="block text-sm font-semibold text-black dark:text-white mb-1">Categoría <span class="text-red-500">*</span></label>
            <select id="categoryId" autocomplete="off"
              formControlName="categoryId" 
              [ngClass]="{
                'border-red-500 dark:border-red-500': form.get('categoryId')?.invalid && form.get('categoryId')?.touched
              }" 
              class="w-full p-2 border bg-white dark:bg-gray-700 text-black dark:text-white focus:outline-hidden border-gray-300 dark:border-gray-600"
            >
              <option value="" selected disabled>Seleccionar</option>
              @for (category of categories; track category.id) {
                <option [value]="category.id">{{ category.name }}</option>
              }
            </select>
            @if (form.get('categoryId')?.invalid && form.get('categoryId')?.touched) {
              <p class="mt-1 text-xs text-red-500">{{ getErrorMessage('categoryId') }}</p>
            }
          </div>

          <div class="md:col-span-2">
            <h2 class="block text-sm font-semibold text-black dark:text-white mb-2">Tamaños y precios <span class="text-red-500">*</span></h2>
            <div formArrayName="sizes" class="flex flex-col gap-4">
              @for (sizeGroup of sizes.controls; let i = $index; track sizeGroup) {
                <div [formGroupName]="i" class="grid grid-cols-1 md:grid-cols-4 gap-4 items-end border border-gray-300 dark:border-gray-600 px-3 py-5 relative">
                  <div>
                    <label [for]="'sizeId-' + i" class="text-sm font-semibold text-black dark:text-white mb-1">Tamaño <span class="text-red-500">*</span></label>
                    <select [id]="'sizeId-' + i" autocomplete="off" formControlName="sizeId"
                      [ngClass]="{
                        'border-red-500 dark:border-red-500': sizeGroup.get('sizeId')?.invalid && sizeGroup.get('sizeId')?.touched
                      }"
                      class="w-full p-2 border bg-white dark:bg-gray-700 text-black dark:text-white border-gray-300 dark:border-gray-600 focus:outline-hidden"
                    >
                      <option value="" selected disabled>Seleccionar</option>
                      @for (size of sizeOptions; track size.id) {
                        <option [value]="size.id">{{ size.name }}</option>
                      }
                    </select>
                  </div>

                  <div>
                    <label [for]="'stock-' + i" class="block text-sm font-semibold text-black dark:text-white mb-1">Stock <span class="text-red-500">*</span></label>
                    <input [id]="'stock-' + i" min="0" autocomplete="off"
                      type="number" formControlName="stock" placeholder="Stock"
                      [ngClass]="{
                        'border-red-500 dark:border-red-500': sizeGroup.get('stock')?.invalid && sizeGroup.get('stock')?.touched
                      }"
                      class="w-full p-2 border bg-white dark:bg-gray-700 text-black dark:text-white border-gray-300 dark:border-gray-600 focus:outline-hidden"
                    >
                  </div>

                  <div>
                    <label [for]="'price-' + i" class="block text-sm font-semibold text-black dark:text-white mb-1">Precio <span class="text-red-500">*</span></label>
                    <input [id]="'price-' + i" min="0" step="100" autocomplete="off"
                      type="number" formControlName="price" placeholder="Precio"
                      [ngClass]="{
                        'border-red-500 dark:border-red-500': sizeGroup.get('price')?.invalid && sizeGroup.get('price')?.touched
                      }"
                      class="w-full p-2 border bg-white dark:bg-gray-700 text-black dark:text-white border-gray-300 dark:border-gray-600 focus:outline-hidden"
                    >
                  </div>

                  <div>
                    <label [for]="'discountPrice-' + i" class="block text-sm font-semibold text-black dark:text-white mb-1">Precio con descuento</label>
                    <input [id]="'discountPrice-' + i" autocomplete="off" 
                      type="number" formControlName="discountPrice" min="0" step="100" placeholder="Descuento"
                      [ngClass]="{
                        'border-red-500 dark:border-red-500': sizeGroup.get('discountPrice')?.invalid && sizeGroup.get('discountPrice')?.touched
                      }"
                      class="w-full p-2 border bg-white dark:bg-gray-700 text-black dark:text-white border-gray-300 dark:border-gray-600 focus:outline-hidden"
                    >
                  </div>
                  
                  @if (sizes.length > 1) {
                    <button type="button" (click)="removeSize(i)"
                      class="cursor-pointer absolute top-1 right-1 text-black dark:text-white hover:text-red-600 w-7 h-7 flex items-center justify-center transition-colors"
                    >
                      <span class="material-icons scale-125">close</span>
                    </button>
                  }
                  
                </div>
              }
              @if (form.get('sizes')?.invalid && form.get('sizes')?.touched) {
                <p class="mt-1 text-xs text-red-500">Debes completar correctamente todos los tamaños y precios.</p>
              }
              <button type="button" (click)="addSize()" class="cursor-pointer mt-2 px-4 py-2 bg-primary dark:bg-secondary text-white dark:text-black hover:bg-primary/80 dark:hover:bg-secondary/80 transition-colors w-fit">
                <span class="material-icons align-middle mr-1">add</span> Agregar tamaño
              </button>
            </div>
          </div>

          <div class="md:col-span-2">
            <label for="description" class="block text-sm font-semibold text-black dark:text-white mb-1">Descripción <span class="text-red-500">*</span></label>
            <textarea id="description" autocomplete="off" 
              rows="4" formControlName="description" placeholder="Descripción" 
              [ngClass]="{
                'border-red-500 dark:border-red-500': form.get('description')?.invalid && form.get('description')?.touched
              }"
              class="w-full p-2 border bg-white dark:bg-gray-700 text-black dark:text-white focus:outline-hidden resize-none border-gray-300 dark:border-gray-600">
            </textarea>
            @if (form.get('description')?.invalid && form.get('description')?.touched) {
              <p class="mt-1 text-xs text-red-500">{{ getErrorMessage('description') }}</p>
            }
          </div>

          <div class="md:col-span-2">
            <label for="observations" class="block text-sm font-semibold text-black dark:text-white mb-1">Observaciones</label>
            <textarea id="observations" autocomplete="off" 
              rows="4" formControlName="observations" placeholder="Observaciones" 
              [ngClass]="{
                'border-red-500 dark:border-red-500': form.get('observations')?.invalid && form.get('observations')?.touched
              }" 
              class="w-full p-2 border bg-white dark:bg-gray-700 text-black dark:text-white focus:outline-hidden resize-none border-gray-300 dark:border-gray-600">
            </textarea>
            @if (form.get('observations')?.invalid && form.get('observations')?.touched) {
              <p class="mt-1 text-xs text-red-500">{{ getErrorMessage('observations') }}</p>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-end gap-4 mt-8">
      <button type="button" routerLink="/account/products" [disabled]="isSubmitting" class="px-4 py-2 bg-red-600 text-white hover:bg-red-700 transition-colors cursor-pointer">
        Cancelar
      </button>
      
      <button type="submit" [disabled]="form.invalid || isSubmitting" class="px-6 py-2 bg-primary dark:bg-secondary text-white dark:text-black hover:bg-primary/80 dark:hover:bg-secondary/80 transition-colors cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed">
        Guardar
      </button>
    </div>
  </form>
</div>