<form class="flex flex-col gap-4" [formGroup]="form" (ngSubmit)="onSubmitForm()">
    <div class="flex flex-col md:flex-row gap-4">
        <div class="w-full">
            <label for="countryId" class="block font-semibold text-black dark:text-white mb-2"> País <span class="text-red-500">*</span></label>
            <select id="countryId" formControlName="countryId" (change)="changeCountry()"
            [ngClass]="{
                'border-red-500 dark:border-red-500': form.get('countryId')?.invalid
            }" class="block w-full p-2 bg-white border border-gray-300 text-black text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-white focus:outline-hidden">
                <option value="" disabled selected>País</option>
                @for (countriesOption of countriesOptions; track $index) {
                    <option [value]="countriesOption.id" class="text-black dark:text-white">{{ countriesOption.name }}</option>
                }
            </select>
            @if (form.get('countryId')?.invalid && form.get('countryId')?.touched) {
                <p class="mt-1 text-xs text-red-500">{{ getErrorMessage('countryId') }}</p>
            }
        </div>

        <div class="w-full">
            <label for="departmentId" class="block font-semibold text-black dark:text-white mb-2"> Departamento / Provincia / Estado <span class="text-red-500">*</span></label>
            <select id="departmentId" formControlName="departmentId"
            [ngClass]="{
                'border-red-500 dark:border-red-500': form.get('departmentId')?.invalid
            }" class="block w-full p-2 bg-white border border-gray-300 text-black text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-white focus:outline-hidden">
                <option value="" disabled selected>Departamento / Provincia / Estado</option>
                @for (departmentsOption of departmentsOptions; track $index) {
                    <option [value]="departmentsOption.id" class="text-black dark:text-white">{{ departmentsOption.name }}</option>
                }
            </select>
            @if (form.get('departmentId')?.invalid && form.get('departmentId')?.touched) {
                <p class="mt-1 text-xs text-red-500">{{ getErrorMessage('departmentId') }}</p>
            }
        </div>
    </div>

    <div class="flex flex-col md:flex-row gap-4">
        <div class="w-full">
            <label for="city" class="block font-semibold text-black dark:text-white mb-2"> Ciudad <span class="text-red-500">*</span></label>
            <input id="city" autocomplete="address-level2"
                type="text" 
                formControlName="city"
                placeholder="Ciudad"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': form.get('city')?.invalid
                }" class="block w-full p-2 bg-white border border-gray-300 text-black text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-white focus:outline-hidden"
            />
            @if (form.get('city')?.invalid && form.get('city')?.touched) {
                <p class="mt-1 text-xs text-red-500">{{ getErrorMessage('city') }}</p>
            }
        </div>

        <div class="w-full">
            <label for="zipCode" class="block font-semibold text-black dark:text-white mb-2"> Zip / Código postal </label>
            <input id="zipCode" autocomplete="postal-code" maxlength="8"
                type="text" 
                formControlName="zipCode"
                placeholder="Zip / Código postal"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': form.get('zipCode')?.invalid
                }" class="block w-full p-2 bg-white border border-gray-300 text-black text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-white focus:outline-hidden"
            />
            @if (form.get('zipCode')?.invalid && form.get('zipCode')?.touched) {
                <p class="mt-1 text-xs text-red-500">{{ getErrorMessage('zipCode') }}</p>
            }
        </div>
    </div>

    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
        <div class="w-full">
            <label for="address" class="block font-semibold text-black dark:text-white mb-2"> Dirección <span class="text-red-500">*</span></label>
            <input id="address" autocomplete="street-address"
                type="text" 
                formControlName="address"
                placeholder="Dirección"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': form.get('address')?.invalid
                }" class="block w-full p-2 bg-white border border-gray-300 text-black text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-white focus:outline-hidden"
            />
            @if (form.get('address')?.invalid && form.get('address')?.touched) {
                <p class="mt-1 text-xs text-red-500">{{ getErrorMessage('address') }}</p>
            }
        </div>
    </div>

    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
        <div class="w-full">
            <label for="observations" class="block font-semibold text-black dark:text-white mb-2"> Información adicional <span class="text-red-500">*</span></label>
            <textarea id="observations" autocomplete="off" maxlength="500" rows="4" 
                formControlName="observations" 
                placeholder="Información adicional"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': form.get('observations')?.invalid
                }" 
                class="block w-full p-2 bg-white border border-gray-300 text-black text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-white focus:outline-hidden resize-none"
            ></textarea>
            @if (form.get('observations')?.invalid && form.get('observations')?.touched) {
                <p class="mt-1 text-xs text-red-500">{{ getErrorMessage('observations') }}</p>
            }
        </div>
    </div>

    <div class="flex justify-center w-full">
        <button type="submit" [disabled]="form.invalid || loading" class="px-6 py-2 bg-primary dark:bg-secondary text-white dark:text-black hover:bg-primary/80 dark:hover:bg-secondary/80 transition-colors cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed">
            Guardar
        </button>
    </div>
</form>