@import "tailwindcss";

/* Light mode */
:root {
    --color-primary: green;
    --color-secondary: #fece3e;
}

/* Dark mode */
:root.dark {
    /* --color-primary: #22c55e;
    --color-secondary: #fbbf24; */

    --color-primary: red;
    --color-secondary: blue;
}

.text-primary {
    color: var(--color-primary);
}

.text-secondary {
    color: var(--color-secondary);
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}