<form class="flex flex-col gap-4" [formGroup]="form" (ngSubmit)="onSubmitForm()">
    <div class="flex flex-col md:flex-row gap-4">
        <div class="w-full">
            <label for="name_1" class="block font-semibold text-black dark:text-white mb-2"> Primer nombre <span class="text-red-500">*</span></label>
            <input id="name_1" autocomplete="off"
                type="text" 
                formControlName="name_1"
                placeholder="Primer nombre"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': form.get('name_1')?.invalid,
                    'cursor-not-allowed': form.get('name_1')?.disabled
                }" class="block w-full p-2 bg-white border border-gray-300 text-black text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-white focus:outline-hidden"
            />
            @if (form.get('name_1')?.invalid && form.get('name_1')?.touched) {
                <p class="mt-1 text-xs text-red-500">{{ getErrorMessage('name_1') }}</p>
            }
        </div>

        <div class="w-full">
            <label for="name_2" class="block font-semibold text-black dark:text-white mb-2"> Segundo nombre </label>
            <input id="name_2" autocomplete="off"
                type="text" 
                formControlName="name_2"
                placeholder="Segundo nombre"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': form.get('name_2')?.invalid,
                    'cursor-not-allowed': form.get('name_2')?.disabled
                }" class="block w-full p-2 bg-white border border-gray-300 text-black text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-white focus:outline-hidden"
            />
            @if (form.get('name_2')?.invalid && form.get('name_2')?.touched) {
                <p class="mt-1 text-xs text-red-500">{{ getErrorMessage('name_2') }}</p>
            }
        </div>
    </div>
    
    <div class="flex flex-col md:flex-row gap-4">
        <div class="w-full">
            <label for="lastname_1" class="block font-semibold text-black dark:text-white mb-2"> Primer apellido <span class="text-red-500">*</span></label>
            <input id="lastname_1" autocomplete="off"
                type="text" 
                formControlName="lastname_1"
                placeholder="Primer apellido"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': form.get('lastname_1')?.invalid,
                    'cursor-not-allowed': form.get('lastname_1')?.disabled
                }" class="block w-full p-2 bg-white border border-gray-300 text-black text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-white focus:outline-hidden"
            />
            @if (form.get('lastname_1')?.invalid && form.get('lastname_1')?.touched) {
                <p class="mt-1 text-xs text-red-500">{{ getErrorMessage('lastname_1') }}</p>
            }
        </div>

        <div class="w-full">
            <label for="lastname_2" class="block font-semibold text-black dark:text-white mb-2"> Segundo apellido </label>
            <input id="lastname_2" autocomplete="off"
                type="text" 
                formControlName="lastname_2" 
                placeholder="Segundo apellido"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': form.get('lastname_2')?.invalid,
                    'cursor-not-allowed': form.get('lastname_2')?.disabled
                }" class="block w-full p-2 bg-white border border-gray-300 text-black text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-white focus:outline-hidden"
            />
            @if (form.get('lastname_2')?.invalid && form.get('lastname_2')?.touched) {
                <p class="mt-1 text-xs text-red-500">{{ getErrorMessage('lastname_2') }}</p>
            }
        </div>
    </div>

    <div class="flex flex-col md:flex-row gap-4">
        <div class="w-full">
            <label for="email" class="block font-semibold text-black dark:text-white mb-2"> Email <span class="text-red-500">*</span></label>
            <input id="email" autocomplete="off"
                type="email" 
                formControlName="email" 
                placeholder="Email"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': form.get('email')?.invalid,
                    'cursor-not-allowed': form.get('email')?.disabled
                }" class="block w-full p-2 bg-white border border-gray-300 text-black text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-white focus:outline-hidden"
            />
            @if (form.get('email')?.invalid && form.get('email')?.touched) {
                <p class="mt-1 text-xs text-red-500">{{ getErrorMessage('email') }}</p>
            }
        </div>
    </div>

    @if(userId() >= 0) {
        <div class="flex flex-col md:flex-row gap-4">
            <div class="w-full relative">
                <label for="password" class="block font-semibold text-black dark:text-white mb-2"> Contraseña <span class="text-red-500">*</span></label>
                <input id="password" autocomplete="off"
                    [type]="isPasswordVisible ? 'text' : 'password'" 
                    formControlName="password" 
                    placeholder="Contraseña"
                    (focus)="onPasswordFocus()"
                    (blur)="onPasswordBlur()"
                    (input)="onPasswordChange($event)"
                    [ngClass]="{
                        'border-red-500 dark:border-red-500': !form.get('password')?.valid && !form.get('password')?.disabled,
                        'cursor-not-allowed': form.get('password')?.disabled
                    }" class="block w-full p-2 bg-white border border-gray-300 text-black text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-white focus:outline-hidden"
                />
                
                <button type="button" (click)="togglePasswordVisibility()" class="absolute flex items-center inset-y-0 right-0 px-3 mt-8">
                    <span class="material-icons text-primary dark:text-secondary">{{ isPasswordVisible ? 'visibility_off' : 'visibility' }}</span>
                </button>

                @if (isPasswordFocused) {
                    <div class="relative z-10">
                        <div class="w-full max-w-[280px] p-4 bg-gray-100 dark:bg-gray-700 absolute top-2 mt-2 before:w-4 before:h-4 before:rotate-45 before:bg-gray-100 dark:before:bg-gray-700 before:absolute before:-top-2 before:left-6">
                            <div class="my-2">
                                <div class="flex flex-col items-start text-left text-sm text-black dark:text-white">
                                    <span>La contraseña debe tener:</span>
                                    <div class="flex items-center">
                                        <span class="material-icons mr-2" [ngClass]="passwordCriteria.hasUpperCase ? 'text-green-500' : 'text-red-500'">{{ passwordCriteria.hasUpperCase ? 'check' : 'close' }}</span> Al menos una letra en mayúscula.
                                    </div>

                                    <div class="flex items-center">
                                        <span class="material-icons mr-2" [ngClass]="passwordCriteria.hasLowerCase ? 'text-green-500' : 'text-red-500'">{{ passwordCriteria.hasLowerCase ? 'check' : 'close' }}</span> Al menos una letra en minúscula.
                                    </div>

                                    <div class="flex items-center">
                                        <span class="material-icons mr-2" [ngClass]="passwordCriteria.hasSpecialChar ? 'text-green-500' : 'text-red-500'">{{ passwordCriteria.hasSpecialChar ? 'check' : 'close' }}</span> Al menos un carácter especial.
                                    </div>

                                    <div class="flex items-center">
                                        <span class="material-icons mr-2" [ngClass]="passwordCriteria.hasNumber ? 'text-green-500' : 'text-red-500'">{{ passwordCriteria.hasNumber ? 'check' : 'close' }}</span> Al menos un número.
                                    </div>

                                    <div class="flex items-center">
                                        <span class="material-icons mr-2" [ngClass]="passwordCriteria.isValidLength ? 'text-green-500' : 'text-red-500'">{{ passwordCriteria.isValidLength ? 'check' : 'close' }}</span> Entre 8 y 20 caracteres.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="w-full">
                <label for="roleId" class="block font-semibold text-black dark:text-white mb-2"> Rol <span class="text-red-500">*</span></label>
                <select id="roleId" formControlName="roleId"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': form.get('roleId')?.invalid,
                    'cursor-not-allowed': form.get('roleId')?.disabled
                }" class="block w-full px-1 py-2 bg-white border border-gray-300 text-black text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-white focus:outline-hidden">
                    <option value="" disabled selected>Rol</option>
                    @for (rolesOption of rolesOptions; track $index) {
                        <option [value]="rolesOption.id" class="text-black dark:text-white">{{ rolesOption.name }}</option>
                    }
                </select>
                @if (form.get('roleId')?.invalid && form.get('roleId')?.touched) {
                    <p class="mt-1 text-xs text-red-500">{{ getErrorMessage('roleId') }}</p>
                }
            </div>
        </div>
    }

    <div class="flex flex-col md:flex-row gap-4">
        <div class="w-full">
            <label for="dniType" class="block font-semibold text-black dark:text-white mb-2"> Tipo de documento <span class="text-red-500">*</span></label>
            <select id="dniType" formControlName="dniType"
            [ngClass]="{
                'border-red-500 dark:border-red-500': form.get('dniType')?.invalid,
                'cursor-not-allowed': form.get('dniType')?.disabled
            }" class="block w-full px-1 py-2 bg-white border border-gray-300 text-black text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-white focus:outline-hidden">
                <option value="" disabled selected>Tipo de documento</option>
                @for (dniOption of dniOptions; track $index) {
                    <option [value]="dniOption.value" class="text-black dark:text-white">{{ dniOption.label }}</option>
                }
            </select>
            @if (form.get('dniType')?.invalid && form.get('dniType')?.touched) {
                <p class="mt-1 text-xs text-red-500">{{ getErrorMessage('dniType') }}</p>
            }
        </div>

        <div class="w-full">
            <label for="dni" class="block font-semibold text-black dark:text-white mb-2"> Documento de identificación <span class="text-red-500">*</span></label>
            <input id="dni" autocomplete="off"
                type="text" 
                formControlName="dni" 
                placeholder="Documento de identificación"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': form.get('dni')?.invalid,
                    'cursor-not-allowed': form.get('dni')?.disabled
                }" class="block w-full p-2 bg-white border border-gray-300 text-black text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-white focus:outline-hidden"
            />
            @if (form.get('dni')?.invalid && form.get('dni')?.touched) {
                <p class="mt-1 text-xs text-red-500">{{ getErrorMessage('dni') }}</p>
            }
        </div>
    </div>

    <div class="flex flex-col md:flex-row gap-4">
        <div class="w-full">
            <label for="prefix" class="block font-semibold text-black dark:text-white mb-2"> Prefijo <span class="text-red-500">*</span></label>
            <select id="prefix" formControlName="prefix"
            [ngClass]="{
                'border-red-500 dark:border-red-500': form.get('prefix')?.invalid,
                'cursor-not-allowed': form.get('prefix')?.disabled
            }" class="block w-full px-1 py-2 bg-white border border-gray-300 text-black text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-white focus:outline-hidden">
                <option value="" disabled selected>Prefijo</option>
                @for (prefixOption of prefixOptions; track $index) {
                    <option [value]="prefixOption.prefix" class="text-black dark:text-white">{{ prefixOption.name }} ({{ prefixOption.prefix }})</option>
                }
            </select>
            @if (form.get('prefix')?.invalid && form.get('prefix')?.touched) {
                <p class="mt-1 text-xs text-red-500">{{ getErrorMessage('prefix') }}</p>
            }
        </div>

        <div class="w-full">
            <label for="mobile" class="block font-semibold text-black dark:text-white mb-2"> Número de celular <span class="text-red-500">*</span></label>
            <input id="mobile" autocomplete="off"
                type="text" 
                formControlName="mobile" 
                placeholder="Número de celular"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': form.get('mobile')?.invalid,
                    'cursor-not-allowed': form.get('mobile')?.disabled
                }" class="block w-full p-2 bg-white border border-gray-300 text-black text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-white focus:outline-hidden"
            />
            @if (form.get('mobile')?.invalid && form.get('mobile')?.touched) {
                <p class="mt-1 text-xs text-red-500">{{ getErrorMessage('mobile') }}</p>
            }
        </div>
    </div>

    <div class="flex justify-center w-full">
        <button type="submit" [disabled]="form.invalid || loading" class="px-6 py-2 bg-primary dark:bg-secondary text-white dark:text-black hover:bg-primary/80 dark:hover:bg-secondary/80 transition-colors cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed">
            Guardar
        </button>
    </div>
</form>